.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem;
    margin-top: 2rem;
    line-height: 1.5;
    text-align: justify;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
}

.list1{
    list-style: upper-roman;
    padding-left: 2rem;


}





.list2{
    list-style: lower-alpha;
    padding-left: 2rem;
}

.list3{
    list-style: lower-roman;
    padding-left: 2rem;
}